body{ 
    color: rgb(255, 255, 255);
background-image: url(/img/fondo.jpg);    
background-size: cover;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
h1{
    border: 0px;
    padding: 0px;
    font-size: 30pt;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: #ffffff;

}
h2{
    text-align: center;
    font-size: 30px;
    margin: 0px;
}
li{
    margin: 15px;
}
img{
    margin: 15px;
}
b{
    margin: 15px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 15px;
}
h4{
    font-size: 30px; 
    margin: 15px;  
}
.icono {
border: 0px;
padding: 0px;
width: 70px; 
float: right;
}
.imagenes_presentacion{
    width: 1000px;
    border: 3px solid #dbe4ed;
    margin: 15px;
    }
.imagenes_pasos{
    width: 600px;
    height:400px ; 
    margin: 15px;   
}
.center{
    height: 600px;
  display: flex;
  justify-content: center;
  margin: 15px;
 
}
.center2{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.insta {
    text-align: center;
}
input{
    margin: 50px;
}

